body{
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  box-sizing: border-box;
}

.heading{
  text-align: center;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
}
.about{
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formSection{
  display: none;
}
.all-names{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.all-names__peoplediv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: column;
  margin: 0 auto;
}
.all-names__people{
  border: 2px solid black;
  margin: 1rem;
  width: 95%;
  background-color: white;
  opacity: 0.7;
}
.all-names{
  display: none;
}
.formSection {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: darkslategrey;
    text-align: center;
}

/* Modal Content/Box */
.formSection__div {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formSection__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formSection__labels{
  width: 95%;
  text-align: center;
}
.formSection__inputs{
  border: 0;
  border-bottom: 0.1rem solid darkslategrey;
  margin-top: 1rem;
  font-size: 1rem;
  width: inherit;
}
.formSection__btn, .about__view-btn, .about__join-btn, .all-names__btn{
  margin-top: 0.9rem;
  padding: 0.7rem;
  font-size: 1rem;
  border: 0;
  background-color: darkslategrey;
  color: white;
}
.close{
  font-weight: bolder;
  color: darkslategrey;
  font-size: 2.3rem;
}


@media screen and (min-width: 600px){
  .heading{
    font-size: 2rem;
  }
  .about{
    width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  .all-names__peoplediv{
    flex-direction: row;
  }
  .all-names__people{
      width: 30%;
  }
  .formSection__labels{
    width: 75%;
  }
}
