body{
  background-color: white;
  box-sizing: border-box;
}

.heading{
  text-align: center;
}
.about{
  text-align: center;
  width: 100%;
}
.formSection{
  display: none;
}
.all-names{
  display: flex;
  flex-wrap: wrap;
}

.all-names__people{
  border: 2px solid black;
}
.all-names{
  display: none;
}
.formSection {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: darkslategrey;
    text-align: center;
}

/* Modal Content/Box */
.formSection__div {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formSection__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formSection__labels{
  width: 95%;
  text-align: center;
}
.formSection__inputs{
  border: 0;
  border-bottom: 0.1rem solid darkslategrey;
  margin-top: 1rem;
  font-size: 1rem;
  width: inherit;
}
.formSection__btn, .about__view-btn, .about__join-btn, .all-names__btn{
  margin-top: 0.9rem;
  padding: 0.7rem;
  font-size: 1rem;
  border: 0;
  background-color: darkslategrey;
  color: white;
}
.close{
  font-weight: bolder;
  color: darkslategrey;
  font-size: 2.3rem;
}


@media screen and (min-width: 600px){
  .about{
    width: 70%;
    margin: 0 auto;
  }
  .formSection__labels{
    width: 75%;
  }
}
